{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1>Rango says here is the about page.</h1>
    <div>
        This tutorial has been put together by Zeynep. <br />
        <p>Visits: {{ visits }}</p>

        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat" />
    </div>
    <a href="{% url 'rango:index' %}">Index</a>
{% endblock %}